In [1]:
import pandas as pd
import numpy as np

In [29]:
minute_df = pd.read_csv("datasets/colorado_1_minute.csv")
minutes_15_df = pd.read_csv("datasets/colorado_15_minutes.csv")

In [18]:
minute_df

                   Timestamp  Charging_Per_Minute
0        2018-01-01 17:49:00             0.105986
1        2018-01-01 17:50:00             0.105986
2        2018-01-01 17:51:00             0.105986
3        2018-01-01 17:52:00             0.105986
4        2018-01-01 17:53:00             0.105986
...                      ...                  ...
3120700  2023-12-08 21:29:00             0.334117
3120701  2023-12-08 21:30:00             0.262599
3120702  2023-12-08 21:31:00             0.231949
3120703  2023-12-08 21:32:00             0.066224
3120704  2023-12-08 21:33:00             0.000000

[3120705 rows x 2 columns]

In [35]:
minutes_15_df['Timestamp'] = pd.to_datetime(minutes_15_df['Timestamp'], format='%Y-%m-%d %H:%M:%S')

In [38]:
minutes_15_df

                 Timestamp  Charging_Per_15_Minutes
0      2018-01-01 17:45:00                 1.165845
1      2018-01-01 18:00:00                 1.589788
2      2018-01-01 18:15:00                 1.589788
3      2018-01-01 18:30:00                 1.589788
4      2018-01-01 18:45:00                 1.589788
...                    ...                      ...
208043 2023-12-08 20:30:00                 5.929870
208044 2023-12-08 20:45:00                 5.929870
208045 2023-12-08 21:00:00                 5.459594
208046 2023-12-08 21:15:00                 5.011761
208047 2023-12-08 21:30:00                 0.560772

[208048 rows x 2 columns]